<p-dialog [(visible)]="display" header="Details" modal="modal" width="500" (onHide)="onClose()" showEffect="fade">
  <div class="ui-lg ui-fluid">
    <div class="form-group">
      <div class="ui-g">
        <label class="ui-g-4">Title</label>
        <input type="text" class="ui-g-4" [value]="list?.title" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="ui-g">
        <label class="ui-g-4">Director's Name</label>
        <input type="text" class="ui-g-4" [value]="list?.director" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="ui-g">
        <label class="ui-g-4">Producer's Name</label>
        <input type="text" class="ui-g-4" [value]="list?.producer" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="ui-g">
        <label class="ui-g-4">Year of release</label>
        <input type="text" class="ui-g-4" [value]="list?.release_date" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="ui-g">
        <label class="ui-g-4">Ratings</label>
        <input type="text" class="ui-g-4" [value]="list?.rt_score" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="ui-g">
        <label class="ui-g-4">Summary</label>
        <textarea [rows]="5" [cols]="36" pInputTextarea autoResize="autoResize" [value]="list?.description"
          disabled></textarea>
      </div>
    </div>
  </div>
</p-dialog>