.movie-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 85%;
  margin: 0;
  padding: 0;
  /* z-index: 9998; */
  background-color: #1e94d2;
}

/* .movie-container a {cursor: pointer;} */

.movie-container td:first-child:hover {
  cursor: pointer;
  color: rgb(42, 83, 216);
}

.movie-container td:first-child:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.movie-container td:first-child:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}